.aboveGuage {
  text-align: center;
}

.controlGuages {
  display: flex;
  justify-content: space-around;
}

.gaugeContainer {
  margin: 10px;
}

.guageBorder {
	margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block;
}

#navbtn {
  margin-right: 1rem;
  margin-left:1rem;
  background-color: white;
  border:white;
  color: black;
  margin-bottom:1rem;
}
